

.basicInfo{ 
  width:auto;
  overflow:hidden;
  display:inline-block;
}

input.under{
  background: rgba(255,255,255,1);
  color: black;
  border-bottom: black solid 1px;
  border-top:none;
  border-left:none;
  border-right:none;
  margin-right:5px;
}

.caption{
  display:block;
  margin-top:0px;
  font-size:10px;
  font-weight:bold;
}

.floater{
  float:left;
}

.smallBox{
  float:left;
  width:40px;
  border:black solid 1px;
  margin-right:2px;
}

.title{
  margin:0px;
  font-weight: bold;
  color: white;
  background-color: black;
  padding-top: 2px;
  text-align:center;
}

.subtitle{
  display:block;
  margin:0px;
  font-weight:bold;
  color:white;
  background-color:black;
  padding:0px;
  font-size:10px;
}

.shortUnderline{
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:black solid 1px;
  width:64px;
}

th{
  font-size:10px;
  text-align:left;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button,
{ 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number]
{
  -moz-appearance:textfield;
}

